* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body header #logo {
  font-weight: bolder;
  position: relative;
}
body header #navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid;
}

.img-index {
  width: 100%;
  padding-top: 30vh;
}

#footerIndex {
  position: fixed;
  font-size: 0.6em;
  bottom: -3%;
}

.imgProyecto {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
}

.card {
  border: 1px solid;
}

a img:last-child {
  display: none;
}

a:hover img:last-child {
  display: block;
}

a:hover img:first-child {
  display: none;
}

#filtros {
  position: fixed;
  top: 92%;
  left: 5%;
  background-color: white;
  font-size: 0.8em;
}

#barato {
  opacity: 100%;
}
#barato:hover {
  opacity: 100%;
}

#caro {
  opacity: 100%;
}
#caro:hover {
  opacity: 100%;
}

#r-a {
  opacity: 100%;
}
#r-a:hover {
  opacity: 100%;
}

#carro-txt {
  position: fixed;
  right: 0%;
  bottom: 5%;
}
#carro-txt h1 {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  border-radius: 5px;
}
#carro-txt h5 {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  border-radius: 5px;
}
#carro-txt p {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  border-radius: 5px;
}
#carro-txt #btnCarro {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-style: none;
  border-radius: 5px;
}

#prueba2 {
  position: fixed;
  margin-top: 40%;
}
#prueba2 h1 {
  background-color: white;
  border-radius: 5px;
  display: table;
  padding: 0px 10px 0px 10px;
}
#prueba2 p {
  background-color: white;
  border-radius: 5px;
  display: table;
  padding: 0px 10px 0px 10px;
}

.imgBarro:hover {
  filter: invert(1);
}

.imgPresente:hover {
  filter: invert(1);
}

.imgLiquido:hover {
  filter: invert(1);
}

.imgPrueba:hover {
  filter: invert(1);
}

.imgJean:hover {
  filter: invert(1);
}

#carro-container {
  margin-top: 10%;
}

#btnEliminar {
  position: absolute;
  right: 15%;
  top: 10%;
}

@media (min-width: 768px) {
  #icon {
    position: relative;
  }

  .img-index {
    max-width: 100rem;
    padding-top: 30%;
  }

  #footerIndex {
    position: fixed;
    font-size: 0.8em;
    bottom: -3%;
  }

  .imgProyecto {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  .imgBarro:hover {
    filter: invert(1);
  }

  .imgPresente:hover {
    filter: invert(1);
  }

  .imgLiquido:hover {
    filter: invert(1);
  }

  .imgPrueba:hover {
    filter: invert(1);
  }

  .imgJean:hover {
    filter: invert(1);
  }

  #cardsShop {
    margin-top: 5%;
  }

  #carro-txt {
    position: fixed;
    right: 5%;
    bottom: 45%;
  }

  #btnEliminar {
    position: absolute;
    right: 30%;
    top: 5%;
  }

  #prueba2 {
    position: relative;
    margin-top: 10%;
  }

  #filtros {
    position: relative;
    left: 0%;
    font-size: 1em;
  }
  #filtros #barato {
    opacity: 25%;
  }
  #filtros #barato:hover {
    opacity: 100%;
  }
  #filtros #caro {
    opacity: 25%;
  }
  #filtros #caro:hover {
    opacity: 100%;
  }
  #filtros #r-a {
    opacity: 25%;
  }
  #filtros #r-a:hover {
    opacity: 100%;
  }
}/*# sourceMappingURL=main.css.map */