* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    header {
        #logo {
            font-weight: bolder;
        }

        #navbar {
            background-color: white;
        }
    }
}

.img-index {
    width: 100%;
    padding-top: 10vh;
}

#btnProductoAleatorio {
    background-color: white;
    border-style: none;
    font-family: Montserrat, sans-serif;
    width: 100%;
    font-size: x-small;

    &:hover {
        color: blue;
        border-style: none;
    }
}

.imgProyecto {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
}

.card {
    border: 1px solid;
}

a img:last-child {
    display: none;
}

a:hover img:last-child {
    display: block;
}

a:hover img:first-child {
    display: none;
}

#barato {
    opacity: 25%;

    &:hover {
        opacity: 100%;
    }
}

#caro {
    opacity: 25%;

    &:hover {
        opacity: 100%;
    }
}

#r-a {
    opacity: 25%;

    &:hover {
        opacity: 100%;
    }
}

#carro-txt {
    position: fixed;
    right: 0%;
    bottom: 5%;

    h1 {
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        display: table;
        border-radius: 5px;
    }

    h5 {
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        display: table;
        border-radius: 5px;
    }

    p {
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        display: table;
        border-radius: 5px;
    }

    #btnCarro {
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-style: none;
        border-radius: 5px;
    }
}

#prueba2 {
    position: fixed;
    margin-top: 40%;

    h1 {
        background-color: white;
        border-radius: 5px;
        display: table;
        padding: 0px 10px 0px 10px;
    }

    p {
        background-color: white;
        border-radius: 5px;
        display: table;
        padding: 0px 10px 0px 10px;
    }
}

.imgBarro:hover {
    filter: invert(1);
}

.imgPresente:hover {
    filter: invert(1);
}

.imgLiquido:hover {
    filter: invert(1);
}

.imgPrueba:hover {
    filter: invert(1);
}

.imgJean:hover {
    filter: invert(1);
}

#carro-container {
    margin-top: 10%;
}

#btnEliminar {
    position: absolute;
    right: 15%;
    top: 10%
}

@media (min-width: 768px) {

    .img-index {
        max-width: 100rem;
    }

    .imgProyecto {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
    }

    .imgBarro:hover {
        filter: invert(1);
    }

    .imgPresente:hover {
        filter: invert(1);
    }

    .imgLiquido:hover {
        filter: invert(1);
    }

    .imgPrueba:hover {
        filter: invert(1);
    }

    .imgJean:hover {
        filter: invert(1);
    }

    #carro-txt {
        position: fixed;
        right: 5%;
        bottom: 45%;
    }

    #btnEliminar {
        position: absolute;
        right: 30%;
        top: 5%
    }

    #prueba2 {
        position: relative;
        margin-top: 10%;
    }
}